@(title: String, items: List[Item])(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/bootstrap.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/bootstrap-theme.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("js/jquery.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("js/bootstrap.min.js")" type="text/javascript"></script>
    </head>
    <body>
        @content
        <div>
          <small>
          <p>
            We have @items.length items tracked in our inventory.
          <br>
          <a href="@routes.ItemController.new_form">Add a new item!</a>, or,  <a href="@routes.ItemController.all">see what we have!</a>
          <br>
          <a href="@routes.Application.index">HomePage</a>
          </p>
          </small>
        </div>

    </body>
</html>
